body{
    background-color: #faedcd;
}

#calculator{
    width: 30rem;
    height: 40rem;
    background-color: #1d3557;
}

.display{
    background-color: #ffffff;
}

.color1{
    background-color: #b57fef;
}

.color1:active{
    background-color: #dfc1fd;
}

.color2{
    background-color: #50acf3;
}

.color2:active{
    background-color: #a3d6fd;
}

.color3{
    background-color: #ef8a9b;
}

.color3:active{
    background-color: #fdb9c5;
}