@font-face {
    font-family: 'Roboto';
    src: url(./Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(./Roboto/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

header {
    background-color: #1F2937;
    height: 50vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    width: 80%;
    height: 90%;
    margin: 0px auto;
}

.container1 {
    height: 50%;
    width: 99%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

nav li a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 0 1em;
}

nav, p.logo{
    display: flex;
    align-items: center;
}

p.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav li {
    display: inline;
}

.container1 button {
    border: 0.5em solid #3882F6;
    border-radius: 0.7em;
    width: 7.5em;
    height: 2.5em;
    color: white;
    background-color: #3882F6;
}

p.mainText {
    width: 50%;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0.2em;
}

p.secondaryText {
    width: 50%;
    font-size: 18px;
    color: #e5e7eb;
}

img.imageHeader {
    width: 25em;
    height: 15em;
    align-self: flex-end;
}

.wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 10em;
    margin: 1.5em 2em;
}

.image figure {
    margin: 1.5em 0px;
}

.image figure img {
    border: 4px solid #3882F6;
    border-radius: 0.5em;
}

.section1 {
    margin-top: 1.5em;
}

.section1 p {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.section2 {
    height: 20rem;
    background-color: #E5E7EB;
    margin: 2.5em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section2 figure {
    width: 80%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.section2 blockquote {
    margin-bottom: 0px;
}

.section2 figcaption {
    font-style: normal;
    font-weight: 800;
    text-align: end;
}

.section3 {
    background-color: #3882F6;
    height: 10em;
    width: 50em;
    margin: 5em auto;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
}

p.mainText1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 1.5em 1.5em 0.2em 1.5em;
}

p.secondaryText1 {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    color: #F9FAF8;
    margin: 0.5em 2.5em 2.5em 2.5em;
}

.section3 button {
    border: 0.2em solid white;
    border-radius: 0.7em;
    width: 8em;
    height: 2.5em;
    color: #E5E7EB;
    font-weight: bold;
    background-color: #3882F6;
    margin: 0em 0em 7em 7em;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
}

@media(max-width:1900px) {
    .container1 {
        height: 70%;
        width: 98%;
    }
}